@charset "utf-8";

/*====================
ヘッダ
====================*/
    header.jumbotron {
      background: url("AI.png");
      background-position: center center;
      background-size: cover;
      color: #fff;
      margin: 0;
    }

    header .container {
      margin-top: 13%;
    }

    header .midashi-btn {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 0;
    }

    header .midashi-btn:hover {
      color: #0089ff;
      border-color: #0089ff;
    }

    header.jumbotron .container p {
        font-size: 16px;
    }


    header .container h1{
        text-align: center;
        font-size: 500%;
    }
    header .container p{
        text-align: center;
    }
/*==========================
サイドナビゲーション（左カラム)
===========================*/

    div.sidebar {
      margin-left: 50px;
      display: inline;
      float: left;
      width: 200px;
      height:1300px;
      padding: 0px;
      background-color: #DCDCDC;
    }

    div.sidebar ul {
        	font-size: 165%;
        	font-weight: bold;
        	list-style-type:none;
        	padding: 0px;
    }

    div.sidebar ul a {
        	color: #FFF;
        	text-decoration: none;
        	display: block;
        	padding: 20px 10px;
        	text-align:center;
    }
    div.sidebar ul li h2{
        text-align:center;
    }
/*==========================
コンテンツ
===========================*/
#content{
        text-align:center;
}
#content #ac_comment{
        font-size:20px;
        margin-bottom:30px;
        margin-top:120px;
}


/*==========================
フッター
===========================*/
    footer {
        text-align: center;
        padding: 10px;
        background: #101010;
    }
